body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
  }
  
  /* .container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  } */
  
  .prevwod-card {
    display: flex;
    height: 500px;
    width: 350px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    /* margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .prevwod-card:not(:first-child) {
      margin-left: -50px;
  }
  
  .prevwod-card:hover {
    transform: translateX(-100px);
    transition: 0.7s ease-out;
  }
  
  .prevwod-card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .prevwod-title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }

  .card-content {
      text-align: center;
      top: 120px;
      right: -50px;
      position: relative;
  }
  
  
