


.wod-layout {
    margin-top: 6.9vh;
    background: linear-gradient(45deg, #00416A, #E4E5E6);
    height: 100%;
    width: 100%;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
  }
.guest-layout {
    margin-top: 7.0vh;
    background: linear-gradient(45deg, #00416A, #E4E5E6);
    height: 100vh;
}

.text {
  font-family: 'Quicksand', sans-serif;
}


  
  .h2 {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 5px;
    top: 50%;
    position: top;
  }
  

  @media (min-width: 2000px) {
    .wod-layout {
      margin-top: 5.5vh;
      background: linear-gradient(45deg, #00416A, #E4E5E6);
      height: 100%;
    }
    .guest-layout {
      margin-top: 5.8vh;
      background: linear-gradient(45deg, #00416A, #E4E5E6);
      height: 100vh;
    }
    
    }